<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFO AMS Portal</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/images/INFO-logo.png" alt="Institute Logo" class="logo">
            <h1>INFO's AMS Portal</h1>
        </div>
        <div class="portal-box">
            <div class="portal-container">
                <div class="portal">
                    <img src="/static/images/student-icon.png" alt="Student Portal">
                    <button class="student-btn" onclick="redirectToStudentPortal()">Student Portal</button>
                </div>
                <div class="portal">
                    <img src="/static/images/staff-icon.png" alt="Staff Portal">
                    <button class="staff-btn">Staff Portal</button>
                </div>
            </div>
            <p class="login-tip"><b>Login Tip:</b> Credentials are case-sensitive. If you have trouble logging in, contact your HoD or Class Advisor.</p>
        </div>
        <footer>
            <p>© All Rights Reserved by CSE Department of INFO Institute of Engineering</p>
        </footer>
    </div>
</body>
</html>

<script>
    function redirectToStudentPortal() {
        window.location.href = "/templates/student/student-login.html";
    }
</script>